@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --body-color: #212529;
  --maintheme: #A8EEE4;
  ;
  --bg-color: #1B6F7A;
  --white: #fff;
}

/*html {
  font-size: 14px;
}*/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
button,
textarea {
  font-family: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  color: var(--white);
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 1.5em;
  color: var(--maintheme);
  margin: 1rem 2rem 1rem 0;
  white-space: nowrap;
}

h2,
h3 {
  margin: 1rem;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
  color: inherit
}

button {
  cursor: pointer;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--maintheme)
}

nav,
footer,
header,
aside {
  display: block;
}

p {
  margin: 1rem 0;
}

.wrapper {
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 1rem;
}

.nav__list {
  display: flex;
  gap: 20px;
}

main {
  display: flex;

}

.whale img {
  max-width: 20rem;
  width: 100%;
}

.btn {
  max-width: 117px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 0.85rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -ms-flex-pack: center;
  padding: 6px 15px;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  text-transform: uppercase;
}

.btn-big {
  max-width: 150px;
  background: rgb(157 117 194 / 50%);
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.7;
}

.btn.active {
  background: rgba(0, 0, 0, 0.25);
}

.btn.inactive {
  background: rgba(0, 0, 0, 0.25);
  color: #a8a8a8;
  cursor: default;
}

.btn.inactive:active,
.btn.inactive:hover {
  opacity: 1;
}

.modal {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  font-size: 2rem;
  color: var(--maintheme);
  background: rgba(0, 0, 0, 0.44);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  opacity: 0;
}

input {
  background: rgb(255 255 255 / 25%);
  border-radius: 4px;
  height: 1.8rem;
}

input:focus {
  background: rgb(255 255 255 / 45%);
}

ul,
li {
  line-height: 25px;
  list-style: none;
  padding: 0;
}

.hidden {
  display: none;
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  font-size: 1rem;

}

.footer__info {
  display: flex;
  gap: 20px;
}

.footer__copyright {
  display: flex;
  align-items: center;

}

.year {
  padding: 0 20px;

}

.github-username,
.rss {

  text-decoration: none;

  transition: 0.3s;
}

@media (max-width: 768px) {

  html {
    font-size: 14px;
  }

  .footer__wrapper {
    flex-wrap: wrap;
    grid-gap: 20px;
  }

  .nav__list {
    flex-wrap: wrap;
  }

  >div,
  a,
  p {
    line-height: 1.5rem;
  }

}