@import 'mixins';

main {
  display: flex;
}

.main__wrapper {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border-radius: 8px;
  min-height: 70vh;
  margin-bottom: 1.5rem;
  padding: 2rem;
}

.main__article {
  max-width: 55rem;
  padding: 7rem 3rem 3rem 4rem;
  margin: auto 0;
}

.article__title {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  line-height: 4.3rem;
}

.article__text {
  margin: 0;
  padding-bottom: 2.5rem;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}

.btn.btn-article {
  font-size: 1.25rem;
  padding: 6px 32px;
  /* background: #a8eee463; */
  box-shadow: 0px 4px 20px rgb(61 61 61 / 25%);
  margin-top: 1rem;
}

.main__wrapper-container {
  max-height: 63vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.main__container {
  display: flex;
  align-items: center;
  /* transform: translateY(-100vh); */
  transition: 1s;
  position: relative;
  min-height: 50vh;
  //margin-bottom: 10rem;

  & .whale {
    position: absolute;
    right: 3rem;
    bottom: -7rem;
    z-index: -1;
  }

  & .bubbles-top {
    position: absolute;
    left: 11%;
    top: 0rem;
  }

  & .bubbles {
    position: absolute;
    right: 2rem;
    top: 12rem;
    z-index: -1;
  }

  & .skat {
    position: absolute;
    left: 18%;
    top: -8rem;
    z-index: -1;
  }

  & .img-x20 img {
    max-width: 30rem;
    width: 100%;
  }
}

.advantages-screen,
.about-us-screen {
  display: none;
}

@include lg {
  .main__container .img-x20 img {
    max-width: 20rem;
  }

  .main__container .skat {
    top: -4rem;
  }

  .main__container .bubbles {
    top: 19rem;
  }

  .img-x15 img {
    max-width: 12rem;
  }

  .img-x5 img {
    max-width: 4rem;
  }

  .article__title {
    font-size: 2.5rem;

    line-height: 3.3rem;
  }
}
