@import "variables";

@mixin textbook-btns-effects {
  transition: 0.4s;
  border: none;

  &:hover {
    background-color: $bg-color-active-btn;
    box-shadow: $active-shadow;
    transition: 0.4s;
  }
  &--active {
    background-color: $bg-color-active-btn;
    box-shadow: $active-shadow;
  }
}

@mixin textbook-btns-common {
  border-radius: 5px;
  padding: 10px;
  font-size: 1.17em;
  font-weight: bold;
}

@mixin disabled-btn {
  &:hover {
    cursor: auto;
    background-color: $btn-disabled;
    box-shadow: none;
  }
}
