@import 'mixins';

.nav__list {
  display: flex;
  gap: 20px;
}

.nav__list .btn {
  background: transparent;
  border-color: transparent;
}

.nav__list .btn.btn-login {
  background: rgba(255, 255, 255, 0.2);
}

.nav__list .btn.btn-logout {
  background: rgba(0, 0, 0, 0.2);
}

/* hamburger */

.hamburger {
  display: none;
  z-index: 1;
  //padding-right: 4px;
  margin: 0 43px 0 auto;
  transition: 0.3s;

  @include sm {
    margin: 0 43px 0 0;
  }
}

.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: var(--maintheme);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* hamburger END */

@include mid {
  .nav__list {
    gap: 3px;
  }
}

@include md {
  .hamburger {
    display: block;
  }

  .nav__list {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .nav {
    position: fixed;
    //top: -290px;
    top: 70px;
    // right: 0px;
    right: -200px;
    width: 160px;
    /* height: 100vh; */
    background-color: var(--color-dark-3xl);
    z-index: 2;
    padding-right: 0px;
    transition: 0.5s;
    background: rgba(42, 160, 154, 0.9);
    box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-radius: 8px;

    //transform: scaleY(0);

    @include xs {
      width: 100%;
    }
  }

  .nav.is-active {
    // top: 70px;
    right: 0px;
    // transform: scaleY(1);
  }
}
