@import 'mixins';
@import 'variables';

.textbook-title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
  gap: 20px;
}

.textbook-instructions-btn {
  @include textbook-btns-effects;
  @include textbook-btns-common;
  color: darkred;
}

.textbook-dictionary,
.textbook-title-btn {
  @include textbook-btns-effects;
  @include textbook-btns-common;

  &[disabled] {
    &:hover {
      @include disabled-btn;
    }
  }
}

.textbook-title,
.textbook-subtitle {
  margin: 0;
}

.textbook-subtitle {
  font-weight: bolder;
}

.textbook-difficulty-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;

  @media (max-width: 750px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr) minmax(180px, 1fr));
    font-size: 0.8em;
    gap: 10px;
  }

  @media (max-width: 450px) {
    grid-template-columns: auto;
  }

  &__btn {
    border-radius: 10px;
    transition: 0.4s;

    &:hover {
      box-shadow: $active-shadow;
      transition: 0.4s;
    }

    &--active {
      box-shadow: $active-shadow;
    }
  }
}

.group-0 {
  background-color: $bg-color-group-0;
}

.group-1 {
  background-color: $bg-color-group-1;
}

.group-2 {
  background-color: $bg-color-group-2;
}

.group-3 {
  background-color: $bg-color-group-3;
}

.group-4 {
  background-color: $bg-color-group-4;
}

.group-5 {
  background-color: $bg-color-group-5;
}

.textbook-games-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
  gap: 20px;

  @media (max-width: 450px) {
    gap: 10px;
  }
}

.textbook-games-btn {
  @include textbook-btns-effects;
  @include textbook-btns-common;

  &[disabled] {
    background-color: $btn-disabled;
    &:hover {
      @include disabled-btn;
    }
  }

  @media (max-width: 750px) {
    font-size: 0.9em;
  }
}

.textbook-words {
  display: flex;
  gap: 30px;

  @media (max-width: 550px) {
    gap: 15px;
    font-size: 0.9em;
  }
}

.words-btns {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
  grid-auto-rows: minmax(min-content, 80px);
  flex: 1 0 60%;

  @media (max-width: 994px) {
    flex: 1 0 40%;
  }

  @media (max-width: 765px) {
    grid-template-columns: minmax(100px, auto);
    overflow-wrap: anywhere;
  }

  &__btn {
    @include textbook-btns-effects;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 40px 10px 10px;
  }
}

.word-btn-title,
.word-btn-translate {
  margin: 0;
}

.word-btn-title {
  padding-bottom: 10px;
}

.word-btn-translate {
  font-weight: bolder;
}

.word-btn__star {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  width: 25px;
}

.star-svg {
  fill: $wordcard-svg-inactive;

  &:hover {
    fill: $star-svg-active;
  }

  &--active {
    fill: $star-svg-active;
  }
}

.word-btn__bin {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  width: 25px;
}

.bin-svg {
  fill: $wordcard-svg-inactive;

  &:hover {
    fill: $bin-svg-active;
  }

  &--active {
    fill: $bin-svg-active;
  }
}

.word-description {
  min-height: 700px;
  flex: 1 1 40%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__word-image {
    width: 100%;
    border-radius: 20px;
  }

  &__text-container {
    //margin-top: auto;
  }

  @media (max-width: 994px) {
    flex: 1 1 60%;
    position: sticky;
    top: 20px;
  }
}

.title-audio-block {
  display: flex;
  align-items: center;
}

.audio-btn {
  background: url(assets/audio-icon.svg) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  border: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 30px;

  &__page-btn {
    width: 40px;
    color: black;
    background: none;
    border-radius: 5px;
    padding: 5px;
    @include textbook-btns-effects;

    &--active {
      box-shadow: none;
    }
  }
}

.learned-page {
  position: relative;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 5px;
    width: 30px;
    height: 2px;
    background: $learned-page-cross;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(82, 82, 82, 0.95);
  display: flex;
  justify-content: center;
}

.instructions {
  margin-top: 100px;
}

.close-readme-btn {
  @include textbook-btns-effects;
  @include textbook-btns-common;
  position: absolute;
  top: 30px;
  right: 30px;
}
