@import "mixins";

.textbook-title,
.textbook-subtitle {
  text-align: center;
}

.textbook-difficulty-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  &__btn {
    @include textbook-btns-effects;
    border-radius: 10px;
  }
}

.textbook-words {
  display: flex;
  gap: 30px;
  padding-bottom: 60px;
  justify-content: space-between;
}

.words-btns {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  flex: 1 1 100%;

  &__btn {
    @include textbook-btns-effects;
    border-radius: 5px;
  }
}

.word-description {
  //height: 500px;
}

.word-image {
  width: clamp(150px, 30vw, 400px);
  border-radius: 20px;
}

.title-audio-block {
  display: flex;
  align-items: center;
}

.audio-btn {
  background: url(assets/audio-icon.svg) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  border: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 660px;
  margin: 0 auto;

  &__page-btn {
    width: 40px;
    color: black;
    background: none;
    border-radius: 5px;
    padding: 5px;
    @include textbook-btns-effects;
  }
}

