$bg-color-group-0: #d9d5d3;
$bg-color-group-1: #cdcba8;
$bg-color-group-2: #e1a8a8;
$bg-color-group-3: #a5cda5;
$bg-color-group-4: #8fc5eb;
$bg-color-group-5: #c5a7c5;
$bg-color-active-btn: var(--maintheme);
$active-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
$wordcard-svg-inactive: #525050;
$star-svg-active: #fffc00;
$bin-svg-active: #ff0000;
$btn-disabled: #6a979f;
$learned-page-cross: #a43a3a;
