$bg-color-group-0: #c55b5b;
$bg-color-group-1: #e8b455;
$bg-color-group-2: #d7d76e;
$bg-color-group-3: #72ab72;
$bg-color-group-4: #65a9d9;
$bg-color-group-5: #dda9dd;
$bg-color-active-btn: var(--maintheme);
$active-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
